.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 1.5rem;
  background-color: #6200ee;
  color: #ffffff;
}
.header-container > h1 {
  display: flex;
  margin: 0;
}
